*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #f0f0f0;
    width: 100%;
}
.container-3{
    width: 1140px;
    margin: 0 auto;
}
.free-course{
    margin:170px 0;
    padding: 50px 30px;
    background-color: white;
    border-radius: 30px;
}
.course-fee{
    font-size: 120px;
    font-weight: 900;
    opacity: 0.05;
    display: flex;
    justify-content: center;
}
.coursecha-fee{
    font-size: 34px;
    margin-top: -77px;
    text-align: center;
    margin-bottom: 115px;
}
.free-course .d-flex{
    display: flex;
    justify-content: space-between;
}
.free-course .d-flex .left .title{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 5px;
}
.true{
    margin-top: 45px;
    display: flex;
    gap: 15px;
    align-items: center;
}
.true .commit{
    font-size: 14px;
}

.right{
    padding: 48px 73px;
    background-color: black;
    border-radius: 25px;
    text-align: center;
}
.right del{
    font-size: 19px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right del span{
    font-size: 25px;
    font-weight: bold;
    margin-right: 18px;
}
.money{
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 36px;
}
.money span{
    font-size: 34px;
    margin-right: 26px;
}
.comment{
    font-size: 18px;
    color: white;
}
.button{
    border-radius: 12px;
    background-color: #F36732;
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
    width: 196px;
    height: 48px;
    margin-top: 38px;
    transition: 0.3s linear;
}
.button:hover{
    background-color: #29D089;
}

.mypochta{
    background-color: black;
    padding: 130px 0;
    position: relative;
}
.absolut{
    position: absolute;
    right:0;
    top: -5%;
}
.flex{
    display: flex;
    align-items: center;
    gap: 180px;

}
.box1 .title{
    font-size: 34px;
    font-weight: bold;
    color: white;
}
.box1 .commit1{
    margin-top: 32px;
    margin-bottom: 48px;
    font-size: 20px;
    line-height: 2;
    color: white;
}
.box1 input{
    font-size: 22px;
    padding: 16px 35px;
    border: none;
    outline: none;
    border-radius: 16px;
    background-color: #262626;
    color: white;
}
.flex-img{
    margin-top: 55px;
    display: flex;
    align-items: center;
}
.flex-img .commit {
    font-size: 14px;
    color: #ACACAC;
}
.box2{
    display: flex;
    justify-content: center;
    align-items: center;
}